{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }} !</h2>


<h2 >Here are all available tickets</h2>

<h3><u>Buy a ticket</u></h3>

 <form action="/buy" method="post">
   <label for="name">Name:</label><br>
   <input type="text" id="name" name="name"><br>
   <label for="quantity">Quantity:</label><br>
   <input type="text" id="quantity" name="quantity"><br><br>
 <a href='/buy' class="btn btn-primary" id="buy-btn-submit" >Submit</a>
 </form><br>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }}</h4>
    </div>
{% endfor %}
</div>

<h4 id="ubalance">User balance: {{ user.balance }}</h4>

<h4><u>Sell a ticket</u></h4>

<form action="/sell" method="post">
  <label for="tname">Name:</label><br>
  <input type="text" id="tname" name="name"><br>
  <label for="tquantity">Quantity:</label><br>
  <input type="text" id="tquantity" name="quantity"><br>
    <label for="tprice">Price:</label><br>
      <input type="text" id="tprice" name="price"><br>
    <label for="texpiration">Expiration Date:</label><br>
  <input type="text" id="texpiration" name="expiration"><br><br>
  <a href='/sell' class="btn btn-primary" id="sell-btn-submit" >Submit</a>
</form><br>

<h4><u>Update an existing ticket</u></h4>

<form action="/update" method="post">
  <label for="uname">Name:</label><br>
  <input type="text" id="uname" name="name"><br>
  <label for="uquantity">Quantity:</label><br>
  <input type="text" id="uquantity" name="quantity"><br>
    <label for="uprice">Price:</label><br>
      <input type="text" id="uprice" name="price"><br>
    <label for="uexpiration">Expiration Date:</label><br>
  <input type="text" id="uexpiration" name="expiration"><br><br>
  <a href='/update' class="btn btn-primary" id="update-btn-submit" >Submit</a>
</form><br>

<a href='/logout' id="logout" >logout</a>
{% endblock %}
