{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Hi {{ user.name }}!</h2>

<h4 id="ubalance" style="color:rgba(255, 77, 255);">Balance Available: ${{ user.balance }}</h4><br>

<em id='message' style="color:rgb(255,0,0);"> <font size="+2" > {{ message }}</font></em>

<h2 >Here Are All Available Tickets: </h2>
<a href="#buy-header" class="btn btn-primary"> Buy a Ticket</a>&emsp;&emsp;<a href="#sell-header" class="btn btn-primary">Sell a Ticket </a><br><br>
  <div id="tickets">
  {% for ticket in tickets %}
      <div>
          <h4>Title: {{ ticket.name }}, Price: {{ ticket.price }}, Quantity:  {{ ticket.quantity}}, Expiration Date: {{ ticket.expirationdate}} </h4>
      </div>
  {% endfor %}
  </div><br>


<h2 id="buy-header"><u>Buy a ticket</u></h2><br>

 <form action="/buy" method="post">
   <label for="name">Name:</label><br>
   <input type="text" id="buyname" name="tname"><br>
   <label for="quantity">Quantity:</label><br>
   <input type="text" id="buyquantity" name="tquantity"><br><br>
   <input type="submit" class="btn btn-primary" id="t-submit" ></a>
 </form><br>






<h2 id="sell-header"><u>Sell a ticket</u></h2>

<form action="/sell" method="post">
  <label for="tname">Name:</label><br>
  <input type="text" id="tname" name="tname"><br>
  <label for="tquantity">Quantity:</label><br>
  <input type="text" id="tquantity" name="tquantity"><br>
    <label for="tprice">Price:</label><br>
      <input type="text" id="tprice" name="tprice"><br>
    <label for="texpiration">Expiration Date:</label><br>
  <input type="text" id="texpiration" name="expiration"><br><br>
  <input type="submit"  class="btn btn-primary" id="sell-btn-submit" ></a>
</form><br>

<h2><u>Update an existing ticket</u></h2>

<form action="/update" method="post">
  <label for="uname">Name:</label><br>
  <input type="text" id="uname" name="tname"><br>
  <label for="uquantity">New Quantity:</label><br>
  <input type="text" id="uquantity" name="tquantity"><br>
    <label for="uprice">New Price:</label><br>
      <input type="text" id="uprice" name="price"><br>
    <label for="uexpiration">New Expiration Date:</label><br>
  <input type="text" id="uexpiration" name="expiration"><br><br>
  <input type="submit" class="btn btn-primary" id="update-btn-submit" ></a>
</form><br>

<a href='/logout' id="logout" >logout</a><br><br>
{% endblock %}
