{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>


<h2 >Here are all available tickets</h2>

<h3><u>Buy a ticket</u></h3>

 <form method="recieve">
   <label for="name">Name:</label><br>
   <input type="text" id="name" name="name"><br>
   <label for="quantity">Quantity:</label><br>
   <input type="text" id="quantity" name="quantity"><br>
   <input type="submit" value="Submit"><br>
     <div>
        <input>
        <button>Submit</button>
     </div>
 </form><br>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }}</h4>
    </div>
{% endfor %}
</div>

<a href='/logout'>logout</a>
{% endblock %}
